In [1]:
import pandas as pd
import numpy as np

In [2]:
drivers = pd.read_csv('./races.csv')

In [3]:
drivers.head()

,finish,start,car_number,driver,car_name/entrant,make_model,status,laps,LED,winnings,year
0,1,28,32,Ray Harroun,"Marmon ""Wasp""",Marmon/Marmon,74.602,200,88,"$14,250",1911
1,2,29,33,Ralph Mulford,Lozier,Lozier/Lozier,74.285,200,10,"$5,200",1911
2,3,25,28,David Bruce-Brown,Fiat,Fiat/Fiat,72.73,200,81,"$3,250",1911
3,4,11,11,Spencer Wishart,Mercedes,Mercedes/Mercedes,72.648,200,5,"$2,350",1911
4,5,27,31,Joe Dawson,Marmon,Marmon/Marmon,72.365,200,0,"$1,500",1911

In [4]:
races = pd.read_csv('./race_stats.csv')

In [5]:
races.head()

,Time of race,Average speed,Pole speed,Cautions,Margin of victory,Attendance,Lead changes,date,Pole time
0,2:50:39,175.794 mph,229.992 mph,4 for 29 laps,.209 sec,NaN,29,05/26/2019,NaN
1,2:59:43,166.935 mph,229.618 mph,7 for 41 laps,3.159 sec,NaN,30,05/27/2018,NaN
2,3:13:03,155.395 mph,232.164 mph,10 for 50 laps,.201 sec,NaN,35,05/28/2017,NaN
3,3:00:02,166.634 mph,230.76 mph,6 for 46 laps,4.498 sec,NaN,54,05/29/2016,NaN
4,3:05:57,161.341 mph,226.76 mph,6 for 47 laps,.105 sec,NaN,37,05/24/2015,NaN

In [6]:
len(races)

103

In [7]:
y = [x for x in range(1, 4)] * 35

In [8]:
x = []
for _ in range(1, 36):
    x.append(_)
    x.append(_)
    x.append(_)

In [9]:
coord = [(x, y) for (x, y) in zip(x, y)]

In [10]:
coord.pop(0)

(1, 1)

In [11]:
coord.pop(-3)

(35, 1)

In [12]:
coord = list(reversed(coord))

In [13]:
def unpack_x(coordinate):
    return coordinate[0]

In [14]:
def unpack_y(coordinate):
    return coordinate[1]

In [15]:
races['coord'] = coord

In [16]:
races['x'] = races['coord'].apply(unpack_x)

In [17]:
races['y'] = races['coord'].apply(unpack_y)

In [18]:
color = [x for x in range(0, 2)] * 52

In [19]:
color.pop(0)

0

In [20]:
len(color)

103

In [21]:
races['color'] = color

In [22]:
races

,Time of race,Average speed,Pole speed,Cautions,Margin of victory,Attendance,Lead changes,date,Pole time,coord,x,y,color
0,2:50:39,175.794 mph,229.992 mph,4 for 29 laps,.209 sec,NaN,29,05/26/2019,NaN,"(35, 3)",35,3,1
1,2:59:43,166.935 mph,229.618 mph,7 for 41 laps,3.159 sec,NaN,30,05/27/2018,NaN,"(35, 2)",35,2,0
2,3:13:03,155.395 mph,232.164 mph,10 for 50 laps,.201 sec,NaN,35,05/28/2017,NaN,"(34, 3)",34,3,1
3,3:00:02,166.634 mph,230.76 mph,6 for 46 laps,4.498 sec,NaN,54,05/29/2016,NaN,"(34, 2)",34,2,0
4,3:05:57,161.341 mph,226.76 mph,6 for 47 laps,.105 sec,NaN,37,05/24/2015,NaN,"(34, 1)",34,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,5:33:56,89.84 mph,98.9 mph,NaN,209.43 sec,"83,000",7,05/31/1915,NaN,"(2, 3)",2,3,1
99,6:03:46,82.474 mph,NaN,NaN,398.5 sec,"125,000",10,05/30/1914,NaN,"(2, 2)",2,2,0
100,6:35:05,75.933 mph,NaN,NaN,788.4 sec,NaN,8,05/30/1913,NaN,"(2, 1)",2,1,1
101,6:21:06,78.719 mph,NaN,NaN,623 sec,NaN,3,05/30/1912,NaN,"(1, 3)",1,3,0
102,6:42:08,74.59 mph,NaN,NaN,103 sec,NaN,13,05/30/1911,NaN,"(1, 2)",1,2,1

In [23]:
races

,Time of race,Average speed,Pole speed,Cautions,Margin of victory,Attendance,Lead changes,date,Pole time,coord,x,y,color
0,2:50:39,175.794 mph,229.992 mph,4 for 29 laps,.209 sec,NaN,29,05/26/2019,NaN,"(35, 3)",35,3,1
1,2:59:43,166.935 mph,229.618 mph,7 for 41 laps,3.159 sec,NaN,30,05/27/2018,NaN,"(35, 2)",35,2,0
2,3:13:03,155.395 mph,232.164 mph,10 for 50 laps,.201 sec,NaN,35,05/28/2017,NaN,"(34, 3)",34,3,1
3,3:00:02,166.634 mph,230.76 mph,6 for 46 laps,4.498 sec,NaN,54,05/29/2016,NaN,"(34, 2)",34,2,0
4,3:05:57,161.341 mph,226.76 mph,6 for 47 laps,.105 sec,NaN,37,05/24/2015,NaN,"(34, 1)",34,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,5:33:56,89.84 mph,98.9 mph,NaN,209.43 sec,"83,000",7,05/31/1915,NaN,"(2, 3)",2,3,1
99,6:03:46,82.474 mph,NaN,NaN,398.5 sec,"125,000",10,05/30/1914,NaN,"(2, 2)",2,2,0
100,6:35:05,75.933 mph,NaN,NaN,788.4 sec,NaN,8,05/30/1913,NaN,"(2, 1)",2,1,1
101,6:21:06,78.719 mph,NaN,NaN,623 sec,NaN,3,05/30/1912,NaN,"(1, 3)",1,3,0
102,6:42:08,74.59 mph,NaN,NaN,103 sec,NaN,13,05/30/1911,NaN,"(1, 2)",1,2,1

In [24]:
races['year'] = races['date'].str[-4:]

In [25]:
races['date'].str[-4:]

0      2019
1      2018
2      2017
3      2016
4      2015
       ...
98     1915
99     1914
100    1913
101    1912
102    1911
Name: date, Length: 103, dtype: object

In [26]:
races.head()

,Time of race,Average speed,Pole speed,Cautions,Margin of victory,Attendance,Lead changes,date,Pole time,coord,x,y,color,year
0,2:50:39,175.794 mph,229.992 mph,4 for 29 laps,.209 sec,NaN,29,05/26/2019,NaN,"(35, 3)",35,3,1,2019
1,2:59:43,166.935 mph,229.618 mph,7 for 41 laps,3.159 sec,NaN,30,05/27/2018,NaN,"(35, 2)",35,2,0,2018
2,3:13:03,155.395 mph,232.164 mph,10 for 50 laps,.201 sec,NaN,35,05/28/2017,NaN,"(34, 3)",34,3,1,2017
3,3:00:02,166.634 mph,230.76 mph,6 for 46 laps,4.498 sec,NaN,54,05/29/2016,NaN,"(34, 2)",34,2,0,2016
4,3:05:57,161.341 mph,226.76 mph,6 for 47 laps,.105 sec,NaN,37,05/24/2015,NaN,"(34, 1)",34,1,1,2015

In [27]:
races['Average speed'] = races['Average speed'].str[:-4]

In [28]:
races

,Time of race,Average speed,Pole speed,Cautions,Margin of victory,Attendance,Lead changes,date,Pole time,coord,x,y,color,year
0,2:50:39,175.794,229.992 mph,4 for 29 laps,.209 sec,NaN,29,05/26/2019,NaN,"(35, 3)",35,3,1,2019
1,2:59:43,166.935,229.618 mph,7 for 41 laps,3.159 sec,NaN,30,05/27/2018,NaN,"(35, 2)",35,2,0,2018
2,3:13:03,155.395,232.164 mph,10 for 50 laps,.201 sec,NaN,35,05/28/2017,NaN,"(34, 3)",34,3,1,2017
3,3:00:02,166.634,230.76 mph,6 for 46 laps,4.498 sec,NaN,54,05/29/2016,NaN,"(34, 2)",34,2,0,2016
4,3:05:57,161.341,226.76 mph,6 for 47 laps,.105 sec,NaN,37,05/24/2015,NaN,"(34, 1)",34,1,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,5:33:56,89.84,98.9 mph,NaN,209.43 sec,"83,000",7,05/31/1915,NaN,"(2, 3)",2,3,1,1915
99,6:03:46,82.474,NaN,NaN,398.5 sec,"125,000",10,05/30/1914,NaN,"(2, 2)",2,2,0,1914
100,6:35:05,75.933,NaN,NaN,788.4 sec,NaN,8,05/30/1913,NaN,"(2, 1)",2,1,1,1913
101,6:21:06,78.719,NaN,NaN,623 sec,NaN,3,05/30/1912,NaN,"(1, 3)",1,3,0,1912
102,6:42:08,74.59,NaN,NaN,103 sec,NaN,13,05/30/1911,NaN,"(1, 2)",1,2,1,1911

In [29]:
races.to_csv('./tab_races.csv', index = False)

In [30]:
winners = drivers[drivers['finish'] <= 5]

In [31]:
winners['height'] = 6 - winners['finish']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
winners.head()

,finish,start,car_number,driver,car_name/entrant,make_model,status,laps,LED,winnings,year,height
0,1,28,32,Ray Harroun,"Marmon ""Wasp""",Marmon/Marmon,74.602,200,88,"$14,250",1911,5
1,2,29,33,Ralph Mulford,Lozier,Lozier/Lozier,74.285,200,10,"$5,200",1911,4
2,3,25,28,David Bruce-Brown,Fiat,Fiat/Fiat,72.73,200,81,"$3,250",1911,3
3,4,11,11,Spencer Wishart,Mercedes,Mercedes/Mercedes,72.648,200,5,"$2,350",1911,2
4,5,27,31,Joe Dawson,Marmon,Marmon/Marmon,72.365,200,0,"$1,500",1911,1

In [33]:
order_dict = {5: 1, 3:2, 1:3, 2:4, 4:5}

In [34]:
winners['order'] = winners['finish'].map(order_dict)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
winners

,finish,start,car_number,driver,car_name/entrant,make_model,status,laps,LED,winnings,year,height,order
0,1,28,32,Ray Harroun,"Marmon ""Wasp""",Marmon/Marmon,74.602,200,88,"$14,250",1911,5,3
1,2,29,33,Ralph Mulford,Lozier,Lozier/Lozier,74.285,200,10,"$5,200",1911,4,4
2,3,25,28,David Bruce-Brown,Fiat,Fiat/Fiat,72.73,200,81,"$3,250",1911,3,2
3,4,11,11,Spencer Wishart,Mercedes,Mercedes/Mercedes,72.648,200,5,"$2,350",1911,2,5
4,5,27,31,Joe Dawson,Marmon,Marmon/Marmon,72.365,200,0,"$1,500",1911,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3297,1,1,22,Simon Pagenaud,Menards Team Penske,Dallara/Chevrolet,175.794,200,116,"$2,669,529",2019,5,3
3298,2,9,27,Alexander Rossi,NAPA Auto Parts,Dallara/Honda,175.79,200,22,"$759,179",2019,4,4
3299,3,14,30,Takuma Sato,Mi-Jack / Panasonic,Dallara/Honda,175.788,200,3,"$540,454",2019,3,2
3300,4,8,2,Josef Newgarden,Shell V-Power Nitro Plus Team Penske,Dallara/Chevrolet,175.778,200,21,"$462,904",2019,2,5
3301,5,6,12,Will Power,Verizon 5G Team Penske,Dallara/Chevrolet,175.766,200,7,"$444,554",2019,1,1

In [36]:
finish_dict = {1:'1st', 2:'2nd', 3:'3rd', 4:'4th', 5:'5th'}

In [37]:
winners['place'] = winners['finish'].map(finish_dict)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
winners

,finish,start,car_number,driver,car_name/entrant,make_model,status,laps,LED,winnings,year,height,order,place
0,1,28,32,Ray Harroun,"Marmon ""Wasp""",Marmon/Marmon,74.602,200,88,"$14,250",1911,5,3,1st
1,2,29,33,Ralph Mulford,Lozier,Lozier/Lozier,74.285,200,10,"$5,200",1911,4,4,2nd
2,3,25,28,David Bruce-Brown,Fiat,Fiat/Fiat,72.73,200,81,"$3,250",1911,3,2,3rd
3,4,11,11,Spencer Wishart,Mercedes,Mercedes/Mercedes,72.648,200,5,"$2,350",1911,2,5,4th
4,5,27,31,Joe Dawson,Marmon,Marmon/Marmon,72.365,200,0,"$1,500",1911,1,1,5th
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3297,1,1,22,Simon Pagenaud,Menards Team Penske,Dallara/Chevrolet,175.794,200,116,"$2,669,529",2019,5,3,1st
3298,2,9,27,Alexander Rossi,NAPA Auto Parts,Dallara/Honda,175.79,200,22,"$759,179",2019,4,4,2nd
3299,3,14,30,Takuma Sato,Mi-Jack / Panasonic,Dallara/Honda,175.788,200,3,"$540,454",2019,3,2,3rd
3300,4,8,2,Josef Newgarden,Shell V-Power Nitro Plus Team Penske,Dallara/Chevrolet,175.778,200,21,"$462,904",2019,2,5,4th
3301,5,6,12,Will Power,Verizon 5G Team Penske,Dallara/Chevrolet,175.766,200,7,"$444,554",2019,1,1,5th

In [39]:
winners.to_csv('./tab_winners.csv', index = False)